:root{
    --background-color: #38377a;
    --color-back: black;
    --color-soft-lighblue: #51b2bd;
    --color-white: white;
    --margin-center: auto 0;
    --font-size-small: 20px;
    --font-size-medium: 30px;
    --font-size-large: 35px;
    --font-size-extraLarge: 45px;

}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:var(--margin-center)
}

/*Main box*/

.container{
    width: 50%;
    height: 45%;
    border-radius: 10px;
    background-color: aqua;
    margin: 100px 0 80px 0;
    display: flex;
    justify-content: center;
}

/*Element boxes*/

.logo_box{
    background-color: var(--color-white);
    height: auto;
    width: 40%;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
}

.info_box{
    background-color: var(--color-soft-lighblue);
    height: auto;
    width: 60%;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info_box h1{
    font-size: var(--font-size-extraLarge);
    text-align: center;
    /* margin: 12px 0 12px 0; */
}

#title, #description{
    color:var(--color-white);
    text-align: center;
}

#title{
    font-size: var(--font-size-small);
}

/*User image styles*/

#user{
    width: 65%;
    height: 50%;
    margin: 80px 0;
    border-radius: 50%;
}


/*Incons styles*/

.info--icons img{
    width: 60px;
    height: 55px;
    transition: ease 2s;
    cursor: pointer;
}

.info--icons img:hover{
    transform: scale(1.1);
}

